In [8]:

!pip install word2number

import pandas as pd
import numpy as np
from word2number import w2n
from sklearn import linear_model

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5583 sha256=678487cf27b1ab4cc913b44de8b714a6ce449fa0cea9c5b3bc57bf79fd00aeca
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [9]:
df=pd.read_csv("hiring.csv")
df
df.rename(columns = {'test_score(out of 10)':'test_score'}, inplace = True)
df.rename(columns = {'interview_score(out of 10)':'interview_score'}, inplace = True)
df.rename(columns = {'salary($)':'salary'}, inplace = True)
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [10]:
import math
a=df.test_score.median()
a

8.0

In [11]:
df.test_score=df.test_score.fillna(a)

df.experience = df.experience.fillna('zero')


df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [13]:
model=linear_model.LinearRegression()
model

LinearRegression()

In [14]:
model.fit(df.drop('salary',axis='columns'),df.salary)

LinearRegression()

In [15]:
model.predict([[2,9,6]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [16]:
model.predict([[12,10,10]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])